[submodule "submodules/nanopass"]
	path = submodules/nanopass
	url = https://github.com/nanopass/nanopass-framework-scheme
[submodule "submodules/sqlite"]
	path = submodules/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "submodules/termbox"]
	path = submodules/termbox
	url = https://github.com/nsf/termbox
